body {
  min-height: 100vh; 
  margin: 0;
  background-image: url(@/assets/PinkLeaves_overlay.png),radial-gradient(#fffb29, #EA70CF, #342C48);
  background-size: cover;
  background-position: center center; 
}

#login, #register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: courgette;
  font-size: 1rem;
  color: #365016;
  background: whitesmoke;
  border: 10px solid #ff5765;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: calc(100% - 40px); 
  max-width: 500px; 
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box; 
  padding: 0px;
  text-align: center;
  font-size: 1.15rem;
  overflow: hidden;
  
}


button[type="submit"] {
  background-color: whitesmoke;
  border: 2px solid #ff5765;
  border-radius: 15px;
  font-family: courgette;
  color: #365016;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 0 auto;
  display: block;
}

button[type="submit"]:hover {
  background-color: #ff5765;
  color: #365016;
}
