
/* Global styles */
body {
  min-height: 100vh; 
  margin: 0;
  /* background: radial-gradient( #fffb29, #EA70CF , #342C48); */
  background-image: url(@/assets/PinkLeaves_overlay.png),radial-gradient(#fffb29, #EA70CF, #342C48);
  background-size: cover;
  background-position: center center; 
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: courgette;
  font-size: 1rem;
  color: #365016;
  background: whitesmoke;
  border: 10px solid #ff5765;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: calc(100% - 40px); 
  max-width: 500px; 
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box; 
  padding: 20px;
  text-align: center;
  
}

.welcome-header {
  text-align: center;
  margin-bottom: 20px; 
  
}

 .login-image {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.login-image img {
  max-width: 100px; 
  height: auto;
}

.login-box {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-input-group {
  margin-bottom: 1rem;
}

label {
  margin-right: 0.5rem;
}

button[type="submit"] {
  background-color: whitesmoke;
  border: 2px solid #ff5765;
  border-radius: 15px;
  font-family: courgette;
  color: #365016;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 0 auto;
  display: block;
}

button[type="submit"]:hover {
  background-color: #ff5765;
  color: #365016;
}

.login-form {
  text-align: left;
}

.birds-header-image {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start;
  
  position: relative; 
}

.birds-image {
  max-width: 200px;
  height: auto;
  transform: rotate(-25deg);
}


#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: courgette;
  font-size: 1rem;
  color: #365016;
  background: whitesmoke;
  border: 10px solid #FF9B42;
  border-radius: 10px;
  width: calc(100% - 40px); 
  max-width: 500px; 
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box;  
  padding: 20px;
}