
/* Global styles */
body {
    background-color: #D9E5D6;
  }
  
  /* Heading styles */
  h1 {
    color: #F7A072;
  }
  
  /* Button styles */
  .button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
  }